<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<!-- Load common head content, including the favicon link -->
    {% include "./partials/head.html" ignore missing with context %}
    <title>NASA APOD</title>
</head>

<body>
    <!-- include navbar from partials -->
    {% include "./partials/nav.html" ignore missing with context %}

    <div class="container">
        <h1>NASA Astronomy Picture of the Day</h1>

        <!-- Display the title of the APOD -->
        <h2>{{ apod.title }}</h2>

        <!-- Display the image or video -->
        {% if apod.media_type == 'image' %}
        <img src="{{ apod.url }}" alt="NASA APOD" style="max-width:100%; height:auto;">
        {% elif apod.media_type == 'video' %}
        <iframe src="{{ apod.url }}" frameborder="0" allowfullscreen style="width:100%; height:500px;"></iframe>
        {% endif %}

        <!-- Display the explanation/description -->
        <p>{{ apod.explanation }}</p>
    </div>

    <!-- Load common CSS and JS -->
    {% include "./partials/dependencies.html" ignore missing with context %}
</body>

</html>